@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Aluno</h2>

@if (Model.Mensagem != null)
{
    <div class="alert alert-success">
        @ViewBag.msg
    </div>
}
@Html.ValidationSummary() <!--Todas as mensagens-->

@using (@Html.BeginForm())
{

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(a => a.Nome)
                @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" }) <!--qualquer atributo do html, (arroba) é escape-->
                @Html.ValidationMessageFor(a=>a.Nome)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(a => a.DataNascimento)
                @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control" }) <!--qualquer atributo do html, (arroba) é escape-->
                @Html.ValidationMessageFor(a => a.DataNascimento)
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(a => a.GrupoId)
                <!-- Primeira propriedade é onde ele vai setar o valor escolhido-->
                @Html.DropDownListFor(a => a.GrupoId, Model.ListaGrupo, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.GrupoId)
            </div>
        </div>
    </div>

  /* <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(a => a.professores)
                <select name="ProfessoresId" class="selectpicker" multiple>
                    @foreach (var p in ViewBag.professores)
                    {
                        <option value="@p.Id">@p.Nome</option>
                    }
                </select>
            </div>
        </div>
    </div>*/
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.CheckBoxFor(a => a.Bolsa) <!--qualquer atributo do html, (arroba) é escape-->
                @Html.LabelFor(a => a.Bolsa)
                @Html.ValidationMessageFor(a => a.Bolsa)
            </div>
        </div>
    </div>
    <div class="row desconto">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(a => a.Desconto)
                @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" }) <!--qualquer atributo do html, (arroba) é escape-->
                @Html.ValidationMessageFor(a => a.Desconto)
            </div>
        </div>
    </div>

            <input type="submit" value="Enviar" class="btn btn-primary" />
}

